In [138]:
import pandas as pd
import matplotlib.pyplot as plt

import seaborn as sns
import numpy as np
plt.style.use('fivethirtyeight')

import sklearn

In [139]:
import pandas as pd

# Wczytaj dane z pliku CSV
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

# Wyświetl pierwsze kilka wierszy danych
test.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name
0,0013_01,Earth,True,G/3/S,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0,Nelly Carsoning
1,0018_01,Earth,False,F/4/S,TRAPPIST-1e,19.0,False,0.0,9.0,0.0,2823.0,0.0,Lerome Peckers
2,0019_01,Europa,True,C/0/S,55 Cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0,Sabih Unhearfus
3,0021_01,Europa,False,C/1/S,TRAPPIST-1e,38.0,False,0.0,6652.0,0.0,181.0,585.0,Meratz Caltilter
4,0023_01,Earth,False,F/5/S,TRAPPIST-1e,20.0,False,10.0,0.0,635.0,0.0,0.0,Brence Harperez

In [140]:
# Obliczanie procentu brakujących wartości
missing_percentage = train.isnull().mean() * 100

# Wyświetlenie procentu brakujących wartości
print("Procent brakujących wartości dla każdej kolumny:")
print(missing_percentage)

Procent brakujących wartości dla każdej kolumny:
PassengerId     0.000000
HomePlanet      2.312205
CryoSleep       2.496261
Cabin           2.289198
Destination     2.093639
Age             2.059128
VIP             2.335212
RoomService     2.082135
FoodCourt       2.105142
ShoppingMall    2.392730
Spa             2.105142
VRDeck          2.162660
Name            2.300702
Transported     0.000000
dtype: float64

In [141]:
train.shape

(8693, 14)

In [142]:
train_filtered=train.dropna()
train_filtered.shape

(6606, 14)

In [143]:
print(f"Percent of deleted rows: {round((train.shape[0]-train_filtered.shape[0])/train.shape[0]*100,2)}")

Percent of deleted rows: 24.01

In [144]:
print(f"Zmienne tekstowe:\n{train.select_dtypes('object').nunique()})\n")

Zmienne tekstowe:
PassengerId    8693
HomePlanet        3
CryoSleep         2
Cabin          6560
Destination       3
VIP               2
Name           8473
dtype: int64)

In [145]:
print(f"Zmienne bool:\n{train.select_dtypes('bool').nunique()})\n")

Zmienne bool:
Transported    2
dtype: int64)

In [146]:
train.select_dtypes('object')

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,VIP,Name
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,False,Maham Ofracculy
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,False,Juanna Vines
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,True,Altark Susent
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,False,Solam Susent
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,False,Willy Santantines
...,...,...,...,...,...,...,...
8688,9276_01,Europa,False,A/98/P,55 Cancri e,True,Gravior Noxnuther
8689,9278_01,Earth,True,G/1499/S,PSO J318.5-22,False,Kurta Mondalley
8690,9279_01,Earth,False,G/1500/S,TRAPPIST-1e,False,Fayey Connon
8691,9280_01,Europa,False,E/608/S,55 Cancri e,False,Celeon Hontichre
8692,9280_02,Europa,False,E/608/S,TRAPPIST-1e,False,Propsh Hontichre

In [147]:
train = train.drop(columns=['PassengerId', 'Cabin', 'Destination', 'Name'], axis=1)
train.head()

,HomePlanet,CryoSleep,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported
0,Europa,False,39.0,False,0.0,0.0,0.0,0.0,0.0,False
1,Earth,False,24.0,False,109.0,9.0,25.0,549.0,44.0,True
2,Europa,False,58.0,True,43.0,3576.0,0.0,6715.0,49.0,False
3,Europa,False,33.0,False,0.0,1283.0,371.0,3329.0,193.0,False
4,Earth,False,16.0,False,303.0,70.0,151.0,565.0,2.0,True

In [148]:
train.select_dtypes('float')

       Age  RoomService  FoodCourt  ShoppingMall     Spa  VRDeck
0     39.0          0.0        0.0           0.0     0.0     0.0
1     24.0        109.0        9.0          25.0   549.0    44.0
2     58.0         43.0     3576.0           0.0  6715.0    49.0
3     33.0          0.0     1283.0         371.0  3329.0   193.0
4     16.0        303.0       70.0         151.0   565.0     2.0
...    ...          ...        ...           ...     ...     ...
8688  41.0          0.0     6819.0           0.0  1643.0    74.0
8689  18.0          0.0        0.0           0.0     0.0     0.0
8690  26.0          0.0        0.0        1872.0     1.0     0.0
8691  32.0          0.0     1049.0           0.0   353.0  3235.0
8692  44.0        126.0     4688.0           0.0     0.0    12.0

[8693 rows x 6 columns]

In [149]:
from sklearn.preprocessing import RobustScaler
# Wybór kolumn typu float
float_columns = train.select_dtypes(include=['float64']).columns

# Inicjalizacja RobustScaler
scaler = RobustScaler()

# Przeskalowanie kolumn float
train[float_columns] = scaler.fit_transform(train[float_columns])

# Wyświetlenie DataFrame po przeskalowaniu
print("\nDataFrame po przeskalowaniu kolumn float za pomocą RobustScaler:")
train

DataFrame po przeskalowaniu kolumn float za pomocą RobustScaler:

,HomePlanet,CryoSleep,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported
0,Europa,False,0.631579,False,0.000000,0.000000,0.000000,0.000000,0.000000,False
1,Earth,False,-0.157895,False,2.319149,0.118421,0.925926,9.305085,0.956522,True
2,Europa,False,1.631579,True,0.914894,47.052632,0.000000,113.813559,1.065217,False
3,Europa,False,0.315789,False,0.000000,16.881579,13.740741,56.423729,4.195652,False
4,Earth,False,-0.578947,False,6.446809,0.921053,5.592593,9.576271,0.043478,True
...,...,...,...,...,...,...,...,...,...,...
8688,Europa,False,0.736842,True,0.000000,89.723684,0.000000,27.847458,1.608696,False
8689,Earth,True,-0.473684,False,0.000000,0.000000,0.000000,0.000000,0.000000,False
8690,Earth,False,-0.052632,False,0.000000,0.000000,69.333333,0.016949,0.000000,True
8691,Europa,False,0.263158,False,0.000000,13.802632,0.000000,5.983051,70.326087,False
8692,Europa,False,0.894737,False,2.680851,61.684211,0.000000,0.000000,0.260870,True

In [150]:
# Wybór kolumn o typie object
object_columns = train.select_dtypes(include=['object']).columns

# Zamiana zmiennych kategorycznych na zmienne dummy
df_dummies = pd.get_dummies(train, columns=object_columns, drop_first=True)

# Wyświetlenie DataFrame po zamianie na zmienne dummy
print("\nDataFrame po zamianie zmiennych kategorycznych na dummy:")
df_dummies

DataFrame po zamianie zmiennych kategorycznych na dummy:

,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,HomePlanet_Europa,HomePlanet_Mars,CryoSleep_True,VIP_True
0,0.631579,0.000000,0.000000,0.000000,0.000000,0.000000,False,True,False,False,False
1,-0.157895,2.319149,0.118421,0.925926,9.305085,0.956522,True,False,False,False,False
2,1.631579,0.914894,47.052632,0.000000,113.813559,1.065217,False,True,False,False,True
3,0.315789,0.000000,16.881579,13.740741,56.423729,4.195652,False,True,False,False,False
4,-0.578947,6.446809,0.921053,5.592593,9.576271,0.043478,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
8688,0.736842,0.000000,89.723684,0.000000,27.847458,1.608696,False,True,False,False,True
8689,-0.473684,0.000000,0.000000,0.000000,0.000000,0.000000,False,False,False,True,False
8690,-0.052632,0.000000,0.000000,69.333333,0.016949,0.000000,True,False,False,False,False
8691,0.263158,0.000000,13.802632,0.000000,5.983051,70.326087,False,True,False,False,False
8692,0.894737,2.680851,61.684211,0.000000,0.000000,0.260870,True,True,False,False,False

In [156]:
df_dummies.isna().sum()

Age                  179
RoomService          181
FoodCourt            183
ShoppingMall         208
Spa                  183
VRDeck               188
Transported            0
HomePlanet_Europa      0
HomePlanet_Mars        0
CryoSleep_True         0
VIP_True               0
dtype: int64

In [157]:
df = df_dummies.dropna()
df

,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,HomePlanet_Europa,HomePlanet_Mars,CryoSleep_True,VIP_True
0,0.631579,0.000000,0.000000,0.000000,0.000000,0.000000,False,True,False,False,False
1,-0.157895,2.319149,0.118421,0.925926,9.305085,0.956522,True,False,False,False,False
2,1.631579,0.914894,47.052632,0.000000,113.813559,1.065217,False,True,False,False,True
3,0.315789,0.000000,16.881579,13.740741,56.423729,4.195652,False,True,False,False,False
4,-0.578947,6.446809,0.921053,5.592593,9.576271,0.043478,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
8688,0.736842,0.000000,89.723684,0.000000,27.847458,1.608696,False,True,False,False,True
8689,-0.473684,0.000000,0.000000,0.000000,0.000000,0.000000,False,False,False,True,False
8690,-0.052632,0.000000,0.000000,69.333333,0.016949,0.000000,True,False,False,False,False
8691,0.263158,0.000000,13.802632,0.000000,5.983051,70.326087,False,True,False,False,False
8692,0.894737,2.680851,61.684211,0.000000,0.000000,0.260870,True,True,False,False,False

In [160]:

import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.neural_network import MLPClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import classification_report, accuracy_score


# Podział na cechy (X) i etykiety (y)
X = df.select_dtypes(exclude=['bool'])
y = df.select_dtypes('bool')               # Etykieta

# Podział na zbiór treningowy i testowy
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)


# Stworzenie klasyfikatora MLP
mlp_classifier = MLPClassifier(hidden_layer_sizes=(10,), max_iter=1000)

# Trenowanie modelu
mlp_classifier.fit(X_train, y_train)

# Predykcja na zbiorze testowym
y_pred = mlp_classifier.predict(X_test)

# Ocena modelu
print("Raport klasyfikacji:")
print(classification_report(y_test, y_pred))
print("Dokładność:", accuracy_score(y_test, y_pred))

Raport klasyfikacji:
              precision    recall  f1-score   support

           0       0.79      0.86      0.82       766
           1       0.90      0.45      0.60       375
           2       0.80      0.36      0.49       334
           3       0.86      0.93      0.89       510
           4       0.00      0.00      0.00        35

   micro avg       0.82      0.70      0.76      2020
   macro avg       0.67      0.52      0.56      2020
weighted avg       0.82      0.70      0.73      2020
 samples avg       0.58      0.52      0.53      2020

Dokładność: 0.5006561679790026

c:\Users\mikoo\miniconda3\envs\primo\Lib\site-packages\sklearn\metrics\_classification.py:1531: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in samples with no predicted labels. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
c:\Users\mikoo\miniconda3\envs\primo\Lib\site-packages\sklearn\metrics\_classification.py:1531: UndefinedMetricWarning: Recall is ill-defined and being set to 0.0 in samples with no true labels. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
c:\Users\mikoo\miniconda3\envs\primo\Lib\site-packages\sklearn\metrics\_classification.py:1531: UndefinedMetricWarning: F-score is ill-defined and being set to 0.0 in samples with no true nor predicted labels. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))

In [162]:
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import AdaBoostClassifier, RandomForestClassifier, GradientBoostingClassifier

In [163]:
dt_classifier = DecisionTreeClassifier()
dt_classifier.fit(X_train, y_train)
y_preds = dt_classifier.predict(X_test)
print(f"Decision Tree Classifier\nTest Accuracy: {accuracy_score(y_test, y_preds)*100}%")

Decision Tree Classifier
Test Accuracy: 44.55380577427822%