In [114]:
import pandas as pd
import matplotlib.pyplot as plt

import seaborn as sns
import numpy as np
plt.style.use('fivethirtyeight')

import sklearn

In [115]:
import pandas as pd

# Wczytaj dane z pliku CSV
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

# Wyświetl pierwsze kilka wierszy danych
test.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name
0,0013_01,Earth,True,G/3/S,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0,Nelly Carsoning
1,0018_01,Earth,False,F/4/S,TRAPPIST-1e,19.0,False,0.0,9.0,0.0,2823.0,0.0,Lerome Peckers
2,0019_01,Europa,True,C/0/S,55 Cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0,Sabih Unhearfus
3,0021_01,Europa,False,C/1/S,TRAPPIST-1e,38.0,False,0.0,6652.0,0.0,181.0,585.0,Meratz Caltilter
4,0023_01,Earth,False,F/5/S,TRAPPIST-1e,20.0,False,10.0,0.0,635.0,0.0,0.0,Brence Harperez

In [116]:
# Obliczanie procentu brakujących wartości
missing_percentage = train.isnull().mean() * 100

# Wyświetlenie procentu brakujących wartości
print("Procent brakujących wartości dla każdej kolumny:")
print(missing_percentage)

Procent brakujących wartości dla każdej kolumny:
PassengerId     0.000000
HomePlanet      2.312205
CryoSleep       2.496261
Cabin           2.289198
Destination     2.093639
Age             2.059128
VIP             2.335212
RoomService     2.082135
FoodCourt       2.105142
ShoppingMall    2.392730
Spa             2.105142
VRDeck          2.162660
Name            2.300702
Transported     0.000000
dtype: float64

In [117]:
train.shape

(8693, 14)

In [118]:
train_filtered=train.dropna()
train_filtered.shape

(6606, 14)

In [119]:
print(f"Percent of deleted rows: {round((train.shape[0]-train_filtered.shape[0])/train.shape[0]*100,2)}")

Percent of deleted rows: 24.01

In [121]:
print(f"Zmienne tekstowe:\n{train.select_dtypes('object').nunique()})\n")

Zmienne tekstowe:
PassengerId    8693
HomePlanet        3
CryoSleep         2
Cabin          6560
Destination       3
VIP               2
Name           8473
dtype: int64)

In [123]:
print(f"Zmienne bool:\n{train.select_dtypes('bool').nunique()})\n")

Zmienne bool:
Transported    2
dtype: int64)

In [124]:
train.select_dtypes('object')

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,VIP,Name
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,False,Maham Ofracculy
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,False,Juanna Vines
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,True,Altark Susent
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,False,Solam Susent
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,False,Willy Santantines
...,...,...,...,...,...,...,...
8688,9276_01,Europa,False,A/98/P,55 Cancri e,True,Gravior Noxnuther
8689,9278_01,Earth,True,G/1499/S,PSO J318.5-22,False,Kurta Mondalley
8690,9279_01,Earth,False,G/1500/S,TRAPPIST-1e,False,Fayey Connon
8691,9280_01,Europa,False,E/608/S,55 Cancri e,False,Celeon Hontichre
8692,9280_02,Europa,False,E/608/S,TRAPPIST-1e,False,Propsh Hontichre

In [125]:
train = train.drop(columns=['PassengerId', 'Cabin', 'Destination', 'Name'], axis=1)
train.head()

,HomePlanet,CryoSleep,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported
0,Europa,False,39.0,False,0.0,0.0,0.0,0.0,0.0,False
1,Earth,False,24.0,False,109.0,9.0,25.0,549.0,44.0,True
2,Europa,False,58.0,True,43.0,3576.0,0.0,6715.0,49.0,False
3,Europa,False,33.0,False,0.0,1283.0,371.0,3329.0,193.0,False
4,Earth,False,16.0,False,303.0,70.0,151.0,565.0,2.0,True

In [126]:
train.select_dtypes('float')

       Age  RoomService  FoodCourt  ShoppingMall     Spa  VRDeck
0     39.0          0.0        0.0           0.0     0.0     0.0
1     24.0        109.0        9.0          25.0   549.0    44.0
2     58.0         43.0     3576.0           0.0  6715.0    49.0
3     33.0          0.0     1283.0         371.0  3329.0   193.0
4     16.0        303.0       70.0         151.0   565.0     2.0
...    ...          ...        ...           ...     ...     ...
8688  41.0          0.0     6819.0           0.0  1643.0    74.0
8689  18.0          0.0        0.0           0.0     0.0     0.0
8690  26.0          0.0        0.0        1872.0     1.0     0.0
8691  32.0          0.0     1049.0           0.0   353.0  3235.0
8692  44.0        126.0     4688.0           0.0     0.0    12.0

[8693 rows x 6 columns]

In [128]:
from sklearn.preprocessing import RobustScaler
# Wybór kolumn typu float
float_columns = train.select_dtypes(include=['float64']).columns

# Inicjalizacja RobustScaler
scaler = RobustScaler()

# Przeskalowanie kolumn float
train[float_columns] = scaler.fit_transform(train[float_columns])

# Wyświetlenie DataFrame po przeskalowaniu
print("\nDataFrame po przeskalowaniu kolumn float za pomocą RobustScaler:")
train

DataFrame po przeskalowaniu kolumn float za pomocą RobustScaler:

,HomePlanet,CryoSleep,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported
0,Europa,False,0.631579,False,0.000000,0.000000,0.000000,0.000000,0.000000,False
1,Earth,False,-0.157895,False,2.319149,0.118421,0.925926,9.305085,0.956522,True
2,Europa,False,1.631579,True,0.914894,47.052632,0.000000,113.813559,1.065217,False
3,Europa,False,0.315789,False,0.000000,16.881579,13.740741,56.423729,4.195652,False
4,Earth,False,-0.578947,False,6.446809,0.921053,5.592593,9.576271,0.043478,True
...,...,...,...,...,...,...,...,...,...,...
8688,Europa,False,0.736842,True,0.000000,89.723684,0.000000,27.847458,1.608696,False
8689,Earth,True,-0.473684,False,0.000000,0.000000,0.000000,0.000000,0.000000,False
8690,Earth,False,-0.052632,False,0.000000,0.000000,69.333333,0.016949,0.000000,True
8691,Europa,False,0.263158,False,0.000000,13.802632,0.000000,5.983051,70.326087,False
8692,Europa,False,0.894737,False,2.680851,61.684211,0.000000,0.000000,0.260870,True

In [129]:
# Wybór kolumn o typie object
object_columns = train.select_dtypes(include=['object']).columns

# Zamiana zmiennych kategorycznych na zmienne dummy
df_dummies = pd.get_dummies(train, columns=object_columns, drop_first=True)

# Wyświetlenie DataFrame po zamianie na zmienne dummy
print("\nDataFrame po zamianie zmiennych kategorycznych na dummy:")
df_dummies

DataFrame po zamianie zmiennych kategorycznych na dummy:

,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,HomePlanet_Europa,HomePlanet_Mars,CryoSleep_True,VIP_True
0,0.631579,0.000000,0.000000,0.000000,0.000000,0.000000,False,True,False,False,False
1,-0.157895,2.319149,0.118421,0.925926,9.305085,0.956522,True,False,False,False,False
2,1.631579,0.914894,47.052632,0.000000,113.813559,1.065217,False,True,False,False,True
3,0.315789,0.000000,16.881579,13.740741,56.423729,4.195652,False,True,False,False,False
4,-0.578947,6.446809,0.921053,5.592593,9.576271,0.043478,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
8688,0.736842,0.000000,89.723684,0.000000,27.847458,1.608696,False,True,False,False,True
8689,-0.473684,0.000000,0.000000,0.000000,0.000000,0.000000,False,False,False,True,False
8690,-0.052632,0.000000,0.000000,69.333333,0.016949,0.000000,True,False,False,False,False
8691,0.263158,0.000000,13.802632,0.000000,5.983051,70.326087,False,True,False,False,False
8692,0.894737,2.680851,61.684211,0.000000,0.000000,0.260870,True,True,False,False,False

In [111]:
df_dummies.head()

,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,PassengerId_0002_01,PassengerId_0003_01,PassengerId_0003_02,...,Name_Zinonon Veriedeezy,Name_Zinopus Spandisket,Name_Zinor Axlentindy,Name_Zinor Proorbeng,Name_Zinoth Lansuffle,Name_Zosmark Trattle,Name_Zosmark Unaasor,Name_Zosmas Ineedeve,Name_Zosmas Mormonized,Name_Zubeneb Pasharne
0,0.695413,-0.345756,-0.285355,-0.309494,-0.273759,-0.269534,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,-0.336769,-0.176748,-0.279993,-0.266112,0.206165,-0.230494,True,True,False,False,...,False,False,False,False,False,False,False,False,False,False
2,2.002842,-0.279083,1.845163,-0.309494,5.596357,-0.226058,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
3,0.282540,-0.345756,0.479034,0.334285,2.636384,-0.098291,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
4,-0.887266,0.124056,-0.243650,-0.047470,0.220152,-0.267759,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [112]:
train.select_dtypes('bool').nunique()

HomePlanet_Earth             2
HomePlanet_Europa            2
HomePlanet_Mars              2
CryoSleep_False              2
CryoSleep_True               2
Destination_55 Cancri e      2
Destination_PSO J318.5-22    2
Destination_TRAPPIST-1e      2
VIP_False                    2
VIP_True                     2
Transported_False            2
Transported_True             2
dtype: int64

In [106]:
train = train_filtered
train.nunique()

PassengerId     6606
HomePlanet         3
CryoSleep          2
Cabin           5305
Destination        3
Age               80
VIP                2
RoomService     1093
FoodCourt       1293
ShoppingMall     984
Spa             1143
VRDeck          1106
Name            6590
Transported        2
dtype: int64

In [107]:
# Zamiana zmiennych kategorycznych na dummy dla kolumn z mniej niż 10 unikalnymi wariantami
for column in train.columns:
    if train[column].nunique() < 10:
        dummies = pd.get_dummies(train[column], prefix=column)
        train = pd.concat([train.drop(column, axis=1), dummies], axis=1)

# Wyświetlenie DataFrame po zamianie na zmienne dummy
print("\nDataFrame po zamianie zmiennych kategorycznych na dummy:")
print(train)

DataFrame po zamianie zmiennych kategorycznych na dummy:
     PassengerId     Cabin   Age  RoomService  FoodCourt  ShoppingMall  \
0        0001_01     B/0/P  39.0          0.0        0.0           0.0
1        0002_01     F/0/S  24.0        109.0        9.0          25.0
2        0003_01     A/0/S  58.0         43.0     3576.0           0.0
3        0003_02     A/0/S  33.0          0.0     1283.0         371.0
4        0004_01     F/1/S  16.0        303.0       70.0         151.0
...          ...       ...   ...          ...        ...           ...
8688     9276_01    A/98/P  41.0          0.0     6819.0           0.0
8689     9278_01  G/1499/S  18.0          0.0        0.0           0.0
8690     9279_01  G/1500/S  26.0          0.0        0.0        1872.0
8691     9280_01   E/608/S  32.0          0.0     1049.0           0.0
8692     9280_02   E/608/S  44.0        126.0     4688.0           0.0

         Spa  VRDeck               Name  HomePlanet_Earth  ...  \
0        0.0     0.0    Maham Ofracculy             False  ...
1      549.0    44.0       Juanna Vines              True  ...
2     6715.0    49.0      Altark Susent             False  ...
3     3329.0   193.0       Solam Susent             False  ...
4      565.0     2.0  Willy Santantines              True  ...
...      ...     ...                ...               ...  ...
8688  1643.0    74.0  Gravior Noxnuther             False  ...
8689     0.0     0.0    Kurta Mondalley              True  ...
8690     1.0     0.0       Fayey Connon              True  ...
8691   353.0  3235.0   Celeon Hontichre             False  ...
8692     0.0    12.0   Propsh Hontichre             False  ...

      HomePlanet_Mars  CryoSleep_False  CryoSleep_True  \
0               False             True           False
1               False             True           False
2               False             True           False
3               False             True           False
4               False             True           False
...               ...              ...             ...
8688            False             True           False
8689            False            False            True
8690            False             True           False
8691            False             True           False
8692            False             True           False

      Destination_55 Cancri e  Destination_PSO J318.5-22  \
0                       False                      False
1                       False                      False
2                       False                      False
3                       False                      False
4                       False                      False
...                       ...                        ...
8688                     True                      False
8689                    False                       True
8690                    False                      False
8691                     True                      False
8692                    False                      False

      Destination_TRAPPIST-1e  VIP_False  VIP_True  Transported_False  \
0                        True       True     False               True
1                        True       True     False              False
2                        True      False      True               True
3                        True       True     False               True
4                        True       True     False              False
...                       ...        ...       ...                ...
8688                    False      False      True               True
8689                    False       True     False               True
8690                     True       True     False              False
8691                    False       True     False               True
8692                     True       True     False              False

      Transported_True
0                False
1                 True
2                False
3                False
4                 True
...                ...
8688             False
8689             False
8690              True
8691             False
8692              True

[6606 rows x 21 columns]

In [108]:
lista = []

for column in train.columns:
    if train[column].nunique() > 10:
        lista.append(column)

lista

['PassengerId',
 'Cabin',
 'Age',
 'RoomService',
 'FoodCourt',
 'ShoppingMall',
 'Spa',
 'VRDeck',
 'Name']

In [113]:
# Podział na cechy (X) i etykiety (y)
X = df_dummies.drop('kolumna4', axis=1) # Predyktory
y = df_dummies['kolumna4']               # Etykieta

# Podział na zbiór treningowy i testowy
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Standaryzacja cech
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

# Stworzenie klasyfikatora MLP
mlp_classifier = MLPClassifier(hidden_layer_sizes=(10,), max_iter=1000)

# Trenowanie modelu
mlp_classifier.fit(X_train, y_train)

# Predykcja na zbiorze testowym
y_pred = mlp_classifier.predict(X_test)

# Ocena modelu
print("Raport klasyfikacji:")
print(classification_report(y_test, y_pred))
print("Dokładność:", accuracy_score(y_test, y_pred))

KeyError: "['kolumna4'] not found in axis"